body {background-color: black;
      font:normal 24px verdana;

}


hgroup { color: red;
        font:normal 12px  Arial bold; 
        text-align: justify;
        text-decoration: royalblue;
        position: relative;


}